.productsContainer {
  padding: 0;
  margin: 0;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
  border: 1px solid black;
  border-radius: 5px;
}

.cardImage {
  width: 12vw;
}
