.productsContainer {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  border: 1px solid red;
}

.card {
  border: 1px solid red;
}

.cardImage {
  width: 12vw;
}
